@import "./utils/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import "./utils/reset.scss";
@import "./components/buttons";
@import "./components/header";
@import "./components/footer";
@import "./components/form";
@import "./components/modal";
@import "./components/portfolio";
@import "./components/index-hero-section";
@import "./components/index-main-text-section";
@import "./components/index-what-we-do-section";
@import "./components/index-our-team-section";
@import "./components/index-regular-customers-section";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  margin: 0 auto;
  max-width: 480px; // Mobile First, deci latimea maxima pana ajunge la maximul pentru mobil */
}

@media screen and (min-width: $mobile-breakpoint) {
  .container {
    max-width: 768px; /* Maximul pentru tableta */
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    max-width: 1200px; /* Maximul pentru desktop */
  }
}
