/*Form*/

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    padding-top: 10px;
    padding-bottom: 4px;
  }
  &__input {
    padding: 12px 25px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  &__textarea {
    width: 100%;
    resize: vertical;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  &__phone-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 185px;
  }
  &__person-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 95px;
  }
  &__email-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 270px;
  }
  &__agreement-terms {
    color: #2196f3;
    text-decoration: underline;
  }
}
.form-checkbox {
  display: flex;
  gap: 8px;
}
.form-controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.input-person {
  position: relative;
}
.input-phone {
  position: relative;
}
.input-email {
  position: relative;
}
