/*Hero-section*/

/* Stil pentru mobil, si pentru 3 */

.hero {
  background: var(--hero-background-color);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%),
    url(../images/bg-hero-section-slider/bg-hero-section-m.jpg);
  background-image: image-set(
    "../images/bg-hero-section-slider/bg-hero-section-m.jpg" 1x,
    "../images/bg-hero-section-slider/bg-hero-section-m@2x.jpg" 2x
  );
  margin: 0 auto;
  padding: 0;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 0 auto;
}

/*Main text section*/

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  &__list {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
    &-item {
      background-color: var(--main-text-bg-color);
    }
  }
  &__item {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__label {
    margin-top: 0;
    width: 270px;
  }
  &__letterpress {
    margin-top: 10px;
  }
}

/*What we do section + labels*/

.occupation {
  background-color: #ffffff;
  &__cards {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
  }
  &__image {
    width: 370px;
    height: auto;
  }
  &__item {
    background-color: var(--main-text-bg-color);
    position: relative;
  }
  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--label-text-color);
    position: absolute;
    top: 76%;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-family: sans-serif;
    background-color: #2f303acc;
  }
}

/*Our team*/

.team {
  background-color: #f5f4fa;
  margin: 0 auto;
  &__card {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
  }
  &__item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 1px #00000024, 0 2px 1px #00000033;
    width: 270px;
    height: 428px;
  }
  &__name {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
  }
  &__specialist {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
    font-weight: 400;
    color: #757575;
  }
  &__image {
    width: 270px;
    height: auto;
  }
  &__icons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    list-style-type: none;
  }
  &__icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      background-color: var(--link-active-color);
      transition: transform var(--transition);
      fill: var(--link-active-color);
    }
  }
}

/*Regular customers section*/

.customers-list {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  background-color: #ffffff;
  margin-top: 0;
  list-style-type: none;
  &__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      border: 1px solid var(--link-active-color);
      transition: transform var(--transition);
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      fill: var(--link-active-color);
      transition: transform var(--transition);
    }
  }
}

/*

.hero {
  background: var(--hero-background-color);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%),
    url(../images/bg-hero-section-slider/bg-hero-section-m.jpg);
  background-image: image-set(
    "../images/bg-hero-section-slider/bg-hero-section-m.jpg" 1x,
    "../images/bg-hero-section-slider/bg-hero-section-m@2x.jpg" 2x
  );
  margin: 0 auto;
  padding: 200px 452px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Main text section

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  &__list {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
    &-item {
      background-color: var(--main-text-bg-color);
    }
  }
  &__item {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__label {
    margin-top: 0;
    width: 270px;
  }
  &__letterpress {
    margin-top: 10px;
  }
}

/*What we do section + labels

.occupation {
  background-color: #ffffff;
  &__cards {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
  }
  &__image {
    width: 370px;
    height: auto;
  }
  &__item {
    background-color: var(--main-text-bg-color);
    position: relative;
  }
  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--label-text-color);
    position: absolute;
    top: 76%;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-family: sans-serif;
    background-color: #2f303acc;
  }
}

/*Our team

.team {
  background-color: #f5f4fa;
  margin: 0 auto;
  &__card {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;
  }
  &__item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 3px #0000001f, 0 1px 1px #00000024, 0 2px 1px #00000033;
    width: 270px;
    height: 428px;
  }
  &__name {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
  }
  &__specialist {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
    font-weight: 400;
    color: #757575;
  }
  &__image {
    width: 270px;
    height: auto;
  }
  &__icons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    list-style-type: none;
  }
  &__icon {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      background-color: var(--link-active-color);
      transition: transform var(--transition);
      fill: var(--link-active-color);
    }
  }
}

/*Regular customers section

.customers-list {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  background-color: #ffffff;
  margin-top: 0;
  list-style-type: none;
  &__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      border: 1px solid var(--link-active-color);
      transition: transform var(--transition);
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    &:hover,
    &:focus {
      color: var(--link-active-color);
      fill: var(--link-active-color);
      transition: transform var(--transition);
    }
  }
}

*/
