/*Responsive breakpoints*/

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

/*CSS variables*/

:root {
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --link-active-color: #2196f3;
  --header-background-color: #ffffff;
  --header-contact-color: #757575;
  --main-text-color: #757575;
  --main-text-bg-color: #ffffff;
  --label-text-color: #ffffff;
  --btn-text-color: #ffffff;
  --text-color: #212121;
  --logo-header-color: #000000;
  --hero-background-color: #2f303a;
  --button-background-color: #2196f3;
  --footer-text-color: #ffffff;
  --portfolio-nd-text-color: #757575;
  --logo-design-color: #2196f3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--text-font-family);
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
  padding-left: 20px;
}
h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
h5 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
